.search-box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
    border-color: #2f3640;
    border-width: 1px;
    border-style: solid;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover > .search-txt
{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn
{
   background: white;
}
.search-btn
{
    color: #e84118;
    background-color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: #2f3640;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt
{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    line-height: 15px;
    width: 0px;

}